[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=sannjka
WorkingDirectory=/home/sannjka/sites/SITENAME
ExecStart=/home/sannjka/sites/SITENAME/.venv/bin/gunicorn \
--bind unix:/tmp/SITENAME.socket \
superlists.wsgi:application
[Install]
WantedBy=multi-user.target
